---
import Layout from '../layouts/Layout.astro';
import { getHouses } from '../js/backend.mjs';
const houses = await getHouses();

---

<Layout>
	<div class="bg-green-50">
    <div>
      <img src="/src/assets/images/header_sci-fistival/accueil.png" alt="Robot" class="m-0">
      <h1 class="">Home page</h1>
      </img>
    </div>
  </div>
</Layout>
