---
export interface Props {
  variant?: 'default';
  size?: 'small' | 'medium' | 'large';
  url?: string;
  text?: string;
}

const {
  variant = 'default',
  size = 'medium',
  url = '#',
  text = '',
} = Astro.props;

const variantClass = {
  default: 'border-red-800 bg-red-800 text-white rounded-full',
};

const sizeClass = {
  small: 'px-4 py-2.5 text-sm',
  medium: 'px-6 py-3 text-base',
  large: 'px-8 py-4 text-base',
};
---
<a
  href={url}
  class={`inline-flex items-center gap-2 text-indigo-500 border-2 font-bold rounded-lg transition duration-300 ease-in-out ${variantClass[variant]} ${sizeClass[size]}`}
>
  <slot/>
  {text}
</a>