---
import Logo from '../assets/icon_sci-fi/logo_sci-fi.svg'
import Facebook from '../assets/icon_sci-fi/facebook.svg'
import Instagram from '../assets/icon_sci-fi/instagram.svg'
import Twitter from '../assets/icon_sci-fi/twitter.svg'
import Youtube from '../assets/icon_sci-fi/youtube.svg'
---
<footer class="container space-y-5 pt-10 lg:grid lg:grid-cols-4 lg:gap-5 lg:space-y-0 bg-red-800">
  <Logo />

  <nav class="gap-8 space-y-8 text-sm lg:text-base lg:columns-4 lg:col-span-3 lg:px-0 *:break-inside-avoid *:space-y-3 bg-red-800">
    <div>
      <ul class="text-orange-200">
        <li class="pb-10"><a href="/contact"><h4>Contact</h4></a></li>
        <li class="pb-10"><a href="/à_propos"><h4>À Propos</h4></a></li>
      </ul>
    </div>

    <div>
      <ul class="text-orange-200">
        <li>Estelle Coulon</li>
        <li>Département MMI</li>
        <li>4, place Lucien Tharradin, </li>
        <li>25200 Montbéliard</li>
      </ul>
    </div>
  </nav>

    <ul class="flex gap-12 justify-center bg-red-800 pb-12 pt-12">
      <li>
        <a href="https://facebook.com" aria-label="Facebook"><Facebook /></a>
      </li>
      <li>
        <a href="https://instagram.com" aria-label="Instagram"><Instagram /></a>
      </li>
      <li>
        <a href="https://twitter.com" aria-label="Twitter"><Twitter /></a>
      </li>
      <li>
        <a href="https://linkedin.com" aria-label="Youtube"><Youtube /></a>
      </li>
    </ul>
  </div>
</footer>